@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&family=Roboto:wght@100;300&display=swap');

/*///// Global /////*/

:root {
  --Orange: #de993e;
  --Blue: #212cc2;
  --Gray: #474747;
  --BG-Black: #0f0f0f;
  --Site-Font: 'Roboto', sans-serif;
  --Title-Font: 'Roboto Mono', monospace; 
}

body, html {
  margin: 0; padding: 0;
  width: 100vw; height: 100%;
  background-color: var(--BG-Black);
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/*///// Header & Navigation /////*/

header {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center; 
  width: 100vw; height: 10vh;
  background-color: var(--BG-Black);
  float: left;
  font-size: 3.2vmin;
  z-index: 100;
  border-bottom: .1vw inset var(--Orange);
}

header p {
  width: content-width;
  font-family: var(--Site-Font);
  font-weight: bold;
  margin: .5em;
  letter-spacing: .1vw;
  user-select: none;
}

header a { color: white; text-decoration: none; }
header p:first-child { margin-left: 0; }
header a:hover { color: var(--Orange) !important; }

#HeaderVisual { 
  margin-top: 10vh;
  width: 100vw; height: 20vw;
  display: flex;
  align-content: center;
  background-color: var(--BG-Black);
  overflow: hidden; 
  position: relative;
}

#ShadowWrap {
  box-shadow: inset 1vh 1vh 10vh black;
  width:100vw; height:100%;
  position: absolute;
  left: 0; top: 0;
}

#HeaderVisual h1 {
  position: absolute;
  height: 1em; width: max-content;
  color: white;
  font-size: 4vw;
  font-family: var(--Title-Font); 
  top: 4.5vw;
  padding: .5vw;
}

#HeaderVisual p {
  top: 8.5vw;
  font-size: 2.8vh;
  color: gray;
  animation: appear 1500ms ease 3500ms forwards;
  opacity: 0;
  text-align: center;
  width: 10vh;
  font-family: var(--Site-Font);
  text-shadow: .3vh .3vh black;
  transform: translateY(3.5vw);
}

#HeaderVisual p, #HeaderVisual h1 {
  left: 0; right: 0;
  margin: auto;
  width: max-content;
  font-weight: bold;
}

#HeaderVisual h1::before, #HeaderVisual h1::after {
  content: '';
  top: 0; left: 0; right: 0; bottom: 0;
  position: absolute;
}

#HeaderVisual h1::before { 
  background-color: var(--BG-Black);
  animation: typeffect 2s steps(16) 1s forwards;
}

#HeaderVisual h1::after {
  animation: typeffect 2s steps(16) 1s forwards,
             blink 500ms steps(3) infinite;
  width: .125em;
}

#Headshot {
  width: 20vw; height: 20vw;
  border-radius: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 1vw solid var(--BG-Black);
  transform: translateY(-3vw);
}

/*///// Experience /////*/

#Experience {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: -2vw;
}

#Experience #CurrHover {
  position: fixed; margin: auto;
  left: 0; right: 0; top: 0; bottom: 0;
  color: var(--Orange);
  font-family: var(--Title-Font);
  font-size: 3vw;
  height: 3vw;
  text-align: center;
  pointer-events: none;
  transition: .3s opacity;
  opacity: 0;
  border-radius: .4vw;
  background-color: var(--BG-Black);
  width: max-content;
  border: .2vw outset var(--Orange);
  padding: 0 1vw 1vw 1vw;
  z-index: 100;
}

#Experience .ExpLabel {
  width: 30%; 
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 2.5%;
}

#Experience .ExpTitle {
  width: 100%;
  font-size: 2vw;
  font-family: var(--Site-Font);
  text-align: center;
  color: var(--Gray);
  transition: .3s color;
  text-shadow: .2vw .2vw black;
}

#Experience .ExpLabel:hover .ExpTitle { color: white; }

#Experience .EffWrap {
  height: 4vw; width: 4vw;
  display: block;
  margin: 1vw;
} 

#Experience img {
  filter: grayscale(100%);
  transition: .5s filter;
  height: 100%; width: 100%;
  cursor: pointer;
}

#Experience .EffWrap:hover img { filter: grayscale(0%); }

/*///// Footer /////*/

#Footer {
  height: 3vw;
  background-color: #0a0a0a;
  color: white;
  font-family: var(--Site-Font);
  font-size: 1vw;
  display: flex;
  justify-content: flex-start;
  padding-top: 1.5vw;
  padding-left: 3vw;
}

/*///// Mobile Media Query /////*/

@media only screen and (max-width: 800px) {

  /* Header & Navigation */

  header p { font-size: 130%; }

  #top_content { height: 25vw; }
  #top_content p { font-size: 3vw; }
  #top_content h1 { font-size: 7vw; }

  #Headshot { height: 20vh; width: 20vh; }

  /*///// Experience /////*/


  /* Footer */
  
  .footer { 
    height: 6vw; 
    font-size: 3vw; 
    padding-top: 3vw; 
    margin-top: 30vw;
  }
  
}

/*///// Keyframes /////*/

@keyframes typeffect {
  to { left: 100%; }
}
@keyframes blink { 
   0% { background-color: white; opacity: 0; }
   49% { background-color: white; opacity: 0; }
   50% { background-color: white; opacity: 1; }
   100% { background-color: white; opacity: 1; }
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes appear {
  to { opacity: 1; }
}