@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&family=Roboto:wght@100;300&display=swap');

/*///// Global /////*/

:root {
  --orange: #de993e;
  --blue: #212cc2;
  --gray: #2945ab;
  --BG-Black: #0f0f0f;
  --Site-Font: 'Roboto', sans-serif;
  --Title-Font: 'Roboto Mono', monospace; 
}

body, html {
  margin: 0; padding: 0;
  width: 100vw; height: 100%;
  background-color: var(--BG-Black);
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/*///// Navigation /////*/

header {
  display: flex;
  justify-content: center;
  align-items: center; 
  width: 100vw; height: 10vh;
  background-color: var(--BG-Black);
  float: left;
  font-size: 3.2vmin;
}

header p {
  width: content-width;
  font-family: var(--Site-Font);
  font-weight: bold;
  margin: .5em;
  letter-spacing: .1vw;
  user-select: none;
}

/*///// Site Title /////*/

strong {
 color: var(--orange);
}

header a { color: white; text-decoration: none; }
header p:first-child { margin-left: 0; }
header a:hover { color: var(--orange) !important; }

#top_content { 
  width: 100vw; height: 20vw;
  display: flex;
  align-content: center;
  background-color: var(--BG-Black);
  overflow: hidden; 
  position: relative;
}

#shadow_wrap {
  box-shadow: inset 1vh 1vh 10vh black;
  width:100vw; height:100%;
  position: absolute;
  left: 0; top: 0;
}

#top_content h1 {
  position: absolute;
  height: 1em; width: max-content;
  color: white;
  font-size: 4vw;
  font-family: var(--Title-Font); 
  top: 4.5vw;
  padding: .5vw;
}

#top_content p {
  top: 8.5vw;
  font-size: 2.8vh;
  color: gray;
  animation: appear 1500ms ease 3500ms forwards;
  opacity: 0;
  text-align: center;
  width: 10vh;
  font-family: var(--Site-Font);
  text-shadow: .3vh .3vh black;
  transform: translateY(3.5vw);
}

#top_content p, #top_content h1 {
  left: 0; right: 0;
  margin: auto;
  width: max-content;
  font-weight: bold;
}

#top_content h1::before, #top_content h1::after {
  content: '';
  top: 0; left: 0; right: 0; bottom: 0;
  position: absolute;
}

#top_content h1::before { 
  background-color: var(--BG-Black);
  animation: typeffect 2s steps(16) 1s forwards;
}

#top_content h1::after {
  animation: typeffect 2s steps(16) 1s forwards,
             blink 500ms steps(3) infinite;
  width: .125em;
}

#bottom_content {
  background-color: var(--BG-Black);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-shadow: .3vh .3vh black;
}

/*///// About Me /////*/

#about_me #top {
  display: flex;
  justify-content: center;
  margin-top: 5vh;
}

#about_me #bottom {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

#about_me #top img {
  float: left;
  width: 17vw; height: 17vw;
  border-radius: 100%;
}

#about_me p {
  font-family: var(--Site-Font);
  color: white;
  text-align: center;
}

#about_me #top {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 6vw;
  margin-bottom: 7vw;
}

#about_me #top p {
  font-size: 2vw;
  width: 40vw;
  float: left;
  padding-left: 5vw;
}

#about_me #bottom p {
  margin: 0;
  font-size: 1.6vw;
  width: 100vw;
  margin-top: 2vw;
  margin-bottom: 2vw;
  text-align: center;
}
#about_me #bottom h1 {
  font-size: 2vw;
  text-align: center;
  width: 100vw;
  color: var(--orange);
  font-family: var(--Site-Font);
}

#about_me #bottom #my_languages,
#about_me #bottom #my_tools,
#about_me #bottom #my_subjects {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2vw;
  flex-wrap: wrap;
}
#my_languages .am_img { cursor: pointer; }
#my_tools .am_img,
#my_subjects .am_img { cursor: help; }

#about_me #bottom .am_img {
  background-size: cover;
  background-repeat: no-repeat;
  width: 4vw; height: 4vw;
  margin-left: .5vw;
  margin-right: .5vw;
  border-radius: .6vw;
  transition: .5s;
  box-shadow: 0;
}

.large { width: 6vw !important; height: 6vw !important; }

.am_img .am_img_desc {
  display: block; 
  color: var(--orange);
  font-family: var(--Site-Font);
  font-size: .8vw;
  font-weight: bold;
  text-align: center;
  transform: translateY(4.5vw);
  transition-duration: .5s;
  opacity: 0;
}

.large .am_img_desc { transform: translateY(6.5vw) !important; }

.am_img:hover .am_img_desc,
.am_img:active .am_img_desc {
  opacity: 1;
}

#about_me #bottom #my_experience {
  color: white;
  font-family: var(--Site-Font);
  font-size: 1.7vw;
  color: var(--orange);
  text-align: center;
}

/*///// Work /////*/

#work {
  width: 80vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-shadow: .4vh .4vh black;
  font-family: var(--Site-Font);
  color: white;
  margin: auto;
  margin-top: 10vw;
}

#work .project { margin-top: 3vw; }

#work .left {
  align-self: flex-start;
  text-align: left;
}

#work .right {
  align-self: flex-end;
  text-align: right;
}

#work .project .preview {
  float: left;
  width: 30vw; height: 16.875w;
  margin-top: 2.5vw;
  border-radius: 8px;
  border: 2px inset var(--orange);
}

#work .project .ico {
  height: 2.3vw; width: 2.3vw;
  margin-left: .5vw;
  transform: translateY(1vw);
}

#work .project .project_info {
  float: left;
  width: 40vw; height: inherit;
  padding-left: 2vw;
  padding-right: 2vw;
}

.project_info h1 { font-size: 2.3vw; }
.project_info h1 span { font-size: 1.65vw; color: var(--gray); }
.project_info p { font-size: 1.2vw; }
.project_info a {
  text-decoration: none;
  font-size: 1.2vw;
  color: var(--orange);
  font-weight: bold
}
.project_info a:hover { color: white; }

/*///// Contact /////*/

#contact {
  width: 100vw;
  text-align: center;
  margin-top: 6vw;
  padding-top: 6vw;
  margin-bottom: 8vw;
  font-family: var(--Site-Font);
  text-shadow: .4vh .4vh black;
  color: white;
}

#contact .contact_ico {
  width: 5vw; height: 5vw;
  margin-top: 2vw; 
  margin-left: .75vw;
  margin-right: .75vw;
  border-bottom: solid .1vw transparent;
  padding-bottom: .2vw;
}

#contact .contact_ico:hover {
  border-bottom: solid .1vw var(--orange);
  box-shadow: .0vh .4vh black;
}

#contact h1 { font-size: 2.6vw; }
#contact h2 { font-size: 1.4vw; margin-top: 4vw; }
#contact strong { color: var(--orange);}
#contact a { text-decoration: none; }

/*///// Footer /////*/

.footer {
  height: 3vw;
  background-color: #0a0a0a;
  color: white;
  font-family: var(--Site-Font);
  font-size: 1vw;
  display: flex;
  justify-content: flex-start;
  padding-top: 1.5vw;
  padding-left: 3vw;
}

/*///// Mobile Media Query /////*/

@media only screen and (max-width: 800px) {

  /* Navigation */

  header p { font-size: 3vh; }

  /* Site Title */

  #top_content { height: 25vw; }
  #top_content p { font-size: 3vw; }
  #top_content h1 { font-size: 7vw; }

  /* About Me */

  #about_me #top { flex-direction: column; margin-top: 3vw; }
  #about_me #top img { width: 50vw; height: 50vw; }

  #about_me #top p { font-size: 5vw; width: 80vw; }
  #about_me #bottom p { font-size: 5.5vw; }
  
  #about_me #bottom .am_img { 
    height: 8.5vw; 
    width: 8.5vw;
    margin-bottom: 4.5vw;
  }

  #about_me #bottom .large {
    height: 12.5vw !important;
    width: 12.5vw !important;
  }
  
  #about_me #bottom h1 {
    font-size: 6vw;
  }

  .am_img .am_img_desc {
    font-size: 1.9vw;
    font-weight: bold;
    text-align: center;
    text-shadow: none !important;
    transform: translateY(9.7vw);
  }

  .large .am_img_desc {
    transform: translateY(13.7vw) !important;
  }
  
  #about_me #bottom #my_languages,
  #about_me #bottom #my_tools {
    width: 80vw;
  }

  #about_me #bottom #my_experience {
    font-size: 3vw;
  }

  /* Work */

  #work .project { 
    display: flex; 
    align-content: center;
    flex-direction: column; 
  }

  #work .left {
    align-self: center;
    text-align: center;
  }

  #work .right {
    align-self: center;
    text-align: center;
    flex-direction: column-reverse;
  }

  #work .project .ico {
    width: 7vw; height: 7vw;
    transform: translateY(2vw);
  }

  #work .project .preview { 
    margin: auto;
    width: 90vw; height: 50.625w; 
    margin-top: 3vw; 
  }

  #work .project .project_info { width: 70vw; margin: auto; }

  .project_info h1 { 
    font-size: 7vw; 
  }
  
  .project_info h1 span { 
    font-size: 5.5vw; 
  }
  
  .project_info p { font-size: 5vw; text-align: left; }
  .project_info a { font-size: 4.2vw; }
  .links {
    margin: auto; 
    width: max-width; 
  }

  /* Contact */

  #contact { margin-top: 28vw; }
  #contact .contact_ico { width: 16vw; height: 16vw; }
  #contact h1 { font-size: 7vw; }
  #contact h2 { font-size: 5vw; }

  /* Footer */
  
  .footer { 
    height: 6vw; 
    font-size: 3vw; 
    padding-top: 3vw; 
    margin-top: 30vw;
  }
  
}

/*///// Keyframes /////*/

@keyframes typeffect {
  to { left: 100%; }
}
@keyframes blink { 
   0% { background-color: white; opacity: 0; }
   49% { background-color: white; opacity: 0; }
   50% { background-color: white; opacity: 1; }
   100% { background-color: white; opacity: 1; }
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes appear {
  to { opacity: 1; }
}