body {
  background-image: url('https://i.imgur.com/gReQoLf.png');
}

#GameContainer {
  position: absolute; margin:auto;
  top:50px; right:0; left:0; 
  width:408px;
  height:600px;
}

#LogContainer {
  position: absolute; margin:auto;
  top:50px; right:-848px; left:0;
  width:400px;
  height:600px;
}

#InfoContainer {
  font-size:14px;
  position: absolute; margin:auto;
  top:50px; right:0; left:-848px;
  width:400px;
  height:600px;
}

.GameSprite {
  background-color:transparent;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  float:left;
  width: 24px;
  height: 25px;
}

p, pre {
  font-family: 'Roboto Mono', monospace;
  color:white;
}
