@font-face { font-family: Penumbra; src: url('fonts/PFSR.otf'); }
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

html, body {
  margin: 0; padding: 0;
  background-color: #091a36;
  box-shadow: inset .3vw .3vw 4.5vw black;
}

/* Main Content */

#content {
  width: 100vw;
  height: 100vh;
  user-select: none;
}

#nav {
  height: 6vw; width: 100vw;
  background-color: RGB(5,14,29);
  border-bottom: inset .16vw #b5a672;
  font-family: Penumbra, sans-serif;
  font-size: 4vw;
  color: #b5a672;
  text-align: center;
  line-height: 6vw;
  box-shadow: .1vw .1vw 4vw black;
}

#patch {
  color: #10254a;
  height: 3vw;
  display: block;
  font-size: 1vw;
  position: absolute;
  margin: .5vw;
  right: 0; top: 0;
  font-family: Penumbra, sans-serif;
}

#news_button {
  height: 1em; width: 5vw;
  background-color: #10254a;
  border: inset .16vw #b5a672;
  margin: auto;
  opacity: .35;
  color: white;
  text-align: center;
  padding: .5vw;
}

#news_button:hover { opacity: .8; }

#news {
  position: absolute;
  top: 4vw; left: 8.5vw;
  width: 80vw; height: 80vh;
  background-color: #10254a;
  border: inset .16vw #b5a672;
  z-index: 60;
  font-family: 'Roboto', sans-serif;
  padding: 1.5vw;
  overflow: scroll;
  user-select: text;
  display: none;
}

#news h1 { 
  color: #b5a672; font-size: 4.3vw; text-align: center;
  font-family: Penumbra, sans-serif;
}
#news h2 { color: white; font-size: 2.5vw; text-decoration: underline; }
#news p { color: white; font-size: 1.3vw; }
#news a { color: #b5a672; }
#news strong { text-decoration: underline; }

#nav img {
  height: 4vw; width: 3vw;
  transform: translateY(.6vw);
}

#left_side_content {
  height: 65vh; width: 50vw;
  float: left;
}

#right_side_content {
  height: 65vh; width: 50vw;
  float: right;
}

.active_god {
  height: 20vw; width: 11vw;
  background-color: RGB(29, 41, 56);
  border: inset .16vw #b5a672;
  border-radius: .35vw;
  margin-top: 1.8vw;
  color: #b5a672;
  font-size: 12vw;
  text-align: center;
  line-height: 20vw;
  text-shadow: .15vw .15vw black;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  box-shadow: .25vw .25vw .75vw black;
  overflow: hidden;
  cursor: pointer;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.god_hud {
  position: absolute;
  top: 26.46vw;
  border: inset .16vw transparent;
  height: 1.5vw; width: 11vw;
  border-radius: .35vw;
  color: white;
  font-family: sans-serif;
  font-size: 1vw;
  line-height: 1.5vw;
  display: none;
}

#left_side_content .god_hud { left: 14vw; }
#right_side_content .god_hud { right: 14vw; }

.god_hud_level {
  position: absolute;
  height: 1.5vw; width: 2vw;
  border-bottom-left-radius: .30vw;
  bottom: 0;
  border-top: inset .16vw #b5a672;
  border-right: inset .16vw #b5a672;
  background-color: RGB(5,14,29);
  text-align: center;
}

.god_hud_name {
  position: absolute;
  right: 0; bottom: 0;
  height: 1.5vw; width: 8.36vw;
  border-bottom-right-radius: .30vw;
  border-top: inset .16vw #b5a672;
  background-color: RGB(5,14,29);
  text-align: left;
  padding-left: .5vw;
}

.active_god_buff {
  position: absolute;
  height: 2.7vw; width: 2.7vw;
  top: -2.85vw;
  border-radius: .25vw;
  background-size: contain !important;
}

#left_side_content .active_god_buff {
  right: 0;
  border-width: 0;
  border-top-style: outset;
  border-top-color: #b5a672;
  border-left-style: outset;
  border-left-color: #b5a672;
  border-top-right-radius: 0;
}

#right_side_content .active_god_buff {
  left: 0;
  border-width: 0;
  border-top-style: outset;
  border-top-color: #b5a672;
  border-right-style: outset;
  border-right-color: #b5a672;
  border-top-left-radius: 0;
}

.god_level_display {
  position: absolute;
}

#left_side_content .active_god {
  float: left;
  margin-left: 14vw;
}
#right_side_content .active_god {
  float: right;
  margin-right: 14vw;
}

.item_selection {
  width: 12vw; height: 20vw;
  margin-top: 1.8vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-between;
}

#left_side_content .item_selection {
  float: left;
  margin-left: 2vw;
}
#right_side_content .item_selection {
  float: right;
  margin-right: 2vw;
}

#content .item {
  width: 4.5vw; height: 4.5vw;
  background-color: RGB(29, 41, 56);
  border: inset .16vw #b5a672;
  border-radius: .35vw;
  color: #b5a672;
  font-size: 5vw;
  text-align: center;
  line-height: 4.50vw;
  text-shadow: .15vw .15vw black;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  box-shadow: .25vw .25vw .75vw black;
  cursor: not-allowed;
}

#content .item:hover,
#content .active_god:hover {
  box-shadow: 1px 1px 3px white, -1px -1px 3px white, -1px 1px 3px white, 1px -1px 3px white;
}

.stats_display {
  width: 28vw;
  height: 12vw;
  padding: 1vw;
  background-color: RGB(29, 41, 56);
  border: inset .16vw #b5a672;
  border-radius: .35vw;
  float: left;
  margin-top: 2vw;
  padding-top: .8vw !important;
  box-shadow: .25vw .25vw .75vw black;
}

.stats_display .stat {
  width: 14vw; height: 1.5vw;
  float: left;
  color: white;
  font-family: sans-serif;
  text-shadow: .10vw .10vw black;
  font-size: .8vw;
}

.stat .stat_icon {
  height: 1vw; width: 1vw;
  display: inline-block;
  transform: translateY(.2vw);
}

.stats_display .stat_label { font-weight: bold; }

#left_side_content .stats_display {
  float: left;
  margin-left: 14vw;
}
#right_side_content .stats_display {
  float: right;
  margin-right: 14vw;
}

/* Search & Filter Gods and Items */

#filter_backdrop {
  display: none;
  width: 100vw; height: 100vh;
  position: absolute; margin: auto;
  top: 0; right: 0; left: 0; bottom: 0;
  background-color: black;
  opacity: .8;
  overflow: hidden;
  z-index: 0;
}

#god_filter_box,
#item_filter_box {
  position: absolute; margin: auto;
  margin-top: 5vh;
  top: 0; right: 0;
  left: -30vw;
  width: 50vw;
  height: 80vh;
  overflow-y: scroll !important;
  padding: 2vw;
  padding-top: 2.8vw !important;
  border-radius: .7vw;
  background-color: RGB(29, 41, 56);
  border: inset .22vw #b5a672;
  display: none;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  user-select: none;
  z-index: 2;
  color: white;
  font-family: sans-serif;
  font-size: 3vw;
  box-shadow: inset .3vw .3vw 4.5vw black;
  overflow: hidden;
}

#item_filter_box::-webkit-scrollbar,
#god_filter_box::-webkit-scrollbar {
  width: 10px; height: 10px;
  background-color: #091a36;
}

#item_filter_box::-webkit-scrollbar-thumb,
#god_filter_box::-webkit-scrollbar-thumb {
  background-color: #94885d;
}

#item_details_display,
#god_details_display {
  display: none;
  position: absolute; margin: auto;
  margin-top: 10vh;
  top: 0; right: 5vw;
  height: 80vh;
  width: 30vw;
  border-radius: .7vw;
  background-color: RGB(29, 41, 56);
  border: inset .22vw #b5a672;
  color: white;
  box-shadow: inset .3vw .3vw 2.5vw black;
  text-shadow: .2vw .2vw black;
}

#item_display_title {
  display: block;
  width: 100%;
  font-family: Penumbra, sans-serif;
  text-align: center;
  font-size: 1.7vw;
  margin-top: 1.6vw;
}

#god_display_title,
#god_display_subtitle {
  display: block;
  width: 100%;
  text-align: center;
  font-family: Penumbra, sans-serif;
  font-size: 1.7vw;
  margin-top: 1.6vw;
}

#god_display_subtitle {
  font-size: 1vw;
  margin-top: 0;
  color: #bfbfbf;
}

#item_display_icon {
  height: 4vw; width: 4vw;
  margin: 1vw;
  margin-left: 2vw;
  border-radius: .7vw;
  background-color: RGB(29, 41, 56);
  border: inset .22vw #b5a672;
  float: left;
  box-shadow: .3vw .3vw 2.5vw black;
  background: url('assets/site/unsure.png');
  background-size: contain !important;
}

#god_display_art {
  height: 14vw; width: 8vw;
  color: #b5a672;
  font-size: 8vw;
  text-align: center;
  line-height: 14vw;
  margin: auto;
  border-radius: .7vw;
  background-color: RGB(29, 41, 56);
  border: inset .22vw #b5a672;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  user-select: none;
}

#god_display_details {
  width: 20vw;
  margin: auto;
}

#god_display_details span {
  display: block;
  text-align: center;
  width: 100%;
  font-size: 2.4vw;
  margin-top: 1vw;
  margin-bottom: -3vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#item_display_stats {
  height: 3.5vw;
  margin: .8vw;
  display: block;
  float: left;
  text-align: left;
  width:  20vw;
  font-size: 1vw;
  color: orange;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#item_display_desc {
  display: block;
  width: 26vw;
  float: left;
  text-align: center;
  margin-top: -1vw;
  padding: 2vw;
  font-size: 1.2vw;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#item_display_select,
#god_display_select {
  position: absolute;
  margin: auto;
  left: 0; right: 0; bottom: 3vw;
  border-radius: .7vw;
  width: 20vw; height: 5vw;
  font-family: Penumbra, sans-serif;
  text-align: center;
  font-size: 2.5vw;
  line-height: 5vw;
  background-color: #18222e;
  border: inset .22vw #b5a672;
  box-shadow: .3vw .3vw 2.5vw black;
  cursor: pointer;
}

#item_display_select:hover {
  background-color: #293b52;
}

#god_filter .god_filter_elem,
#item_filter .item_filter_elem {
  position: absolute; margin: auto;
  top: 0; left: 0; right: 0;
  background-color: #17202b;
  height: 2vw;
  border-bottom: inset .18vw #b5a672;
  color: white;
  font-size: .9vw;
  text-align: center;
  font-family: Penumbra, sans-serif;
  line-height: 240%;
  letter-spacing: .1vw;
  text-shadow: .1vw .1vw black;
  cursor: pointer;
}

#item_filter .item_filter_elem { width: 6.66vw; }
#god_filter .god_filter_elem { width: 8vw; }

#god_filter .god_filter_elem:hover,
#item_filter .item_filter_elem:hover {
  background-color: #0e131a;
  cursor: pointer;
}

#f_search_gods:hover,
#f_search_items:hover,
#f_reset_gods:hover,
#f_reset_items:hover {
 box-shadow: 1px 1px 3px white, -1px -1px 3px white, -1px 1px 3px white, 1px -1px 3px white;
}

#god_filter #f_reset_gods,
#item_filter #f_reset_items {
  right: 41.5vw;
  width: 2vw; height: 1.6vw;
  border-bottom-left-radius: .35vw;
  border-left: inset .18vw #b5a672 !important;
  background: url('assets/site/reset.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #0e131a;
}

#god_filter #f_search_gods,
#item_filter #f_search_items {
  left: 41.5vw;
  width: 2vw; height: 1.6vw;
  border-bottom-right-radius: .35vw;
  border-right: inset .18vw #b5a672 !important;
  background: url('assets/site/search.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  background-color: #0e131a;
}

#god_filter #f_mage,
#item_filter #f_tier1 {
  border-bottom-left-radius: .35vw;
  border-left: inset .18vw #b5a672 !important;
}

#god_filter #f_guardian,
#item_filter #f_big_starter {
  border-bottom-right-radius: .35vw;
  border-right: inset .18vw #b5a672 !important;
}

#f_guardian { transform:translateX(16vw); }
#f_assassin { transform: translateX(8vw); }
#f_warrior { transform: translateY(-.025vw); }
#f_hunter { transform: translateX(-8vw); }
#f_mage { transform: translateX(-16vw); }

#f_tier1 { transform: translateX(-16.65vw); }
#f_tier2 { transform: translateX(-9.99vw); }
#f_tier3 { transform: translateX(-3.33vw); }
#f_tier4 { transform: translateX(3.33vw); }
#f_small_starter { transform: translateX(9.99vw); }
#f_big_starter { transform: translateX(16.65vw); }

.god_filter_child,
.item_filter_child {
  float: left;
  width: 4vw; height: 4vw;
  margin: .3vw;
  background-color: transparent;
  border-radius: .35vw;
  border: inset .13vw #b5a672;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: .25vw .25vw .5vw black;
  cursor: pointer;
}

.god_filter_child:hover,
.item_filter_child:hover {
  box-shadow: 1px 1px 3px white, -1px -1px 3px white, -1px 1px 3px white, 1px -1px 3px white;
  border: solid .13vw white;
}

#search {
  position: absolute; margin: auto;
  top: -30vh; right: 0; left: 0; bottom: 0;
  width: 40vw;
  height: 7.5vw;
  border-radius: .7vw;
  background-color: RGB(29, 41, 56);
  border: inset .22vw #b5a672;
  display: none;
  z-index: 60;
}

#search input {
  position: absolute; margin: auto;
  top: 0; left: 0; right: 0; bottom : 0;
  border-radius: .35vw;
  width: 80%; height: 50%;
  background-color: #0e131a;
  border: none;
  outline: none;
  transition: 0s;
  caret-color: #b5a672;
  padding-left: 4vw;
  background-image: url('assets/site/search.png');
  background-position: .5vw;
  background-size: 8%;
  background-repeat: no-repeat;
  color: white;
  font-size: 2vw;
}

#search input:focus { border: 1px inset #b5a672; }

/* Buff Toggles */

.options {
  position: absolute;
  height: 2vw; width: 9vw;
  transform: translateX(-.5vw);
}

.options div {
  height: 2vw; width: 5vw;
  position: absolute; margin: auto;
  background-color: RGB(5,14,29);
  border-bottom: inset .15vw #b5a672;
  border-left: inset .15vw #b5a672;
  border-right: inset .15vw #b5a672;
  border-bottom-right-radius: .35vw;
  border-bottom-left-radius: .35vw;
  color: white;
  font-family: sans-serif;
  text-align: center;
  font-size: 1vw;
  line-height: 2vw;
  font-weight: bold;
  cursor: pointer;
}

.level_toggle {
  left: -2.5vw; 
  border-right: none !important;
  border-bottom-right-radius: 0 !important;
}
.buff_toggle {
  left: 2.5vw; 
  border-left: none !important;
  border-bottom-left-radius: 0 !important;
}

#left_side_content .options { left: 5vw; }
#right_side_content .options { right: 0vw; }

.options div:hover {
  background-color: #1a2433;
}

#level_selection {
  position: absolute;
  top: 10vw; left: 15vw;
  width: 70vw; height: 6vw;
  background-color: #10254a;
  border: inset .16vw #b5a672;
  z-index: 60;
  font-family: Penumbra, sans-serif;
  padding: 1.5vw;
  display: none;
  flex-direction: row;
  justify-content: space-around;
}

#level_selection div {
  width: 3vw; height: 3vw;
  background-color: RGB(29, 41, 56);
  text-shadow: .15vw .15vw black;
  color: #ababab;
  text-align: center;
  font-size: 2vw;
  line-height: 3vw;
  border: inherit;
  align-self: center;
  cursor: pointer;
  border-radius: .32vw;
}

#buff_selection {
  position: absolute;
  top: 15vw; left: 39vw;
  width: 22vw; height: 6vw;
  background-color: #10254a;
  border: inset .16vw #b5a672;
  z-index: 60;
  font-family: Penumbra, sans-serif;
  padding: 1.5vw;
  display: none;
  flex-direction: row;
  justify-content: space-around;
}

#buff_selection div {
  width: 6vw; height: 3vw;
  background-color: RGB(29, 41, 56);
  text-shadow: .15vw .15vw black;
  color: #ababab;
  text-align: center;
  font-size: 2vw;
  line-height: 3vw;
  border: inherit;
  align-self: center;
  cursor: pointer;
  border-radius: .32vw;
}

#level_selection div:hover,
#buff_selection div:hover {
  box-shadow: 1px 1px 3px white, -1px -1px 3px white, -1px 1px 3px white, 1px -1px 3px white;
}

footer {
  width: 80vw;
  padding: .5vw;
  color: #133875;
  font-size: .5vw;
  display: block;
  position: absolute;
  margin: auto;
  left: 0; right: 0;
  font-family: Penumbra, sans-serif;
  bottom: 0vw;
  text-align: center;
}