section {
  width: 100vw;
  font-family: 'Roboto';
  color:white;
  text-align: center;
  float: left;
  animation: fade-in 500ms ease-in forwards;
  margin-left: -4vw;
}

section div { width:50vw; height: 80vh; }
#left { float: left; }
#right { float: right; }

section h1 {
  font-size: 2.5vw;
  letter-spacing: .1vw;
  padding-top: 3vw;
  text-shadow: .2vw .2vw black;
}

section p {
  font-size: 1.8vw;
  letter-spacing: .1vw;
  text-align: center;
  text-shadow: .2vw .2vw black;
}

section span { color: #de993e; }

section img {
  width:10vh; height: 10vh;
  margin-left: 1vw;
}
