body, html { 
  background-color: RGB(12,12,12); 
  padding-bottom: 8vh;
}

#top_content { 
  width: 100%; height: 36vh;
  display: flex;
  align-content: center;
  background-color: RGB(15,15,15);
  overflow: hidden; 
  position: relative;
  
}

#shadow_wrap {
  box-shadow: inset 1vh 1vh 10vh black;
  width:100vw; height:100%;
  position: absolute;
  left: 0; top: 0;
}

#top_content h1 {
  position: absolute;
  height: 1em; width: max-content;
  color: white;
  font-size: 5vh;
  font-family: 'Roboto Mono', monospace;  
  top: 5vh;
  padding: .5vh;
}

#top_content p {
  top: 11.5vh;
  font-size: 2.5vh;
  color: gray;
  animation: appear 1500ms ease 3500ms forwards;
  opacity: 0;
  text-align: center;
  width: 10vh;
  font-family: 'Roboto', sans-serif;
  text-shadow: .3vh .3vh black;
}

#top_content p, #top_content h1 {
  left: 0; right: 0;
  margin: auto;
  width: max-content;
  font-weight: bold;
}

#bottom_content {
  padding-top: .5em;
  width: 100vw;
  height: 40vh;
  background-color: RGB(12,12,12);
  opacity: .8;
  float: left;
  font-size: 4vh;
  font-family: 'Roboto';
  animation: fade-in 500ms ease-in forwards;
}

#bottom_content p {
  color: white;
  text-align: center;
}

#bottom_content span { 
  color: #de993e; 
  font-weight: bold;
  display: block; 
}

#top_content h1::before, #top_content h1::after {
  content: '';
  top: 0; left: 0; right: 0; bottom: 0;
  position: absolute;
}

#top_content h1::before { 
  background-color: RGB(15,15,15);
  animation: typeffect 2s steps(16) 1s forwards;
}

#top_content h1::after {
  animation: typeffect 2s steps(16) 1s forwards,
             blink 500ms steps(3) infinite;
  width: .125em;
}

@keyframes typeffect {
  to { left: 100%; }
}
@keyframes blink { 
   0% { background-color: white; opacity: 0; }
   49% { background-color: white; opacity: 0; }
   50% { background-color: white; opacity: 1; }
   100% { background-color: white; opacity: 1; }
}

@keyframes appear {
  to { opacity: 1; }
}