header {
  margin-bottom: 10vh;
}

.project {
  width: 100vw; height: 43vh;
  font-family: 'Roboto';
  text-shadow: .3vw .3vw black;
  margin-bottom: 13vh;
}

.img_wrap {
  width:50vw; height: 100%;
  float: left;
  position: relative;
}

.img_wrap div {
  height: 40vh;
  width: 40vh;
  margin: auto;
  position: absolute; 
  left: 0; right: 0;
  box-shadow: .3vw .3vw .5vw black;
  border-radius: 8px;
  animation: fade-in 500ms ease-in forwards;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.article_wrap {
  width: 50vw; height: 100%;
  float: left;
  text-align: center;
  color: white;
  position: relative;
  animation: fade-in 500ms ease-in forwards;
  letter-spacing: .2vw;
  margin-left: -5vw;
}

.article_wrap h1 {
  font-size: 2vw;
  transform:translateY(-5vh);
}

.article_wrap article {
  transform:translateY(-5vh);
  display: block;
  margin: auto;
  position: absolute; 
  left: 0; right: 0;
  text-align: center;
  font-size: 1.3vw;
  width: 35vw;
  float: left;
}

article a {
  font-weight: bold; color: #de993e;
  text-decoration: none;
}

.ico {
  display: inline-block;
  width: 1em; height: 1em;
  background-color: transparent;
  object-fit: cover;
  transform:translateY(.2vh);
}

