.project {
  width: 100vw; height: 400px;
  margin-top: 100px;
  font-family: 'Roboto';
  text-shadow: 2px 2px black;
}

.img_wrap {
  width:50vw;
  float: left;
  position: relative;
}

.img_wrap img {
  height: 320px;
  margin: auto;
  position: absolute; 
  left: 0; right: 0;
  box-shadow: 5px 5px 8px black;
}

.article_wrap {
  width:50vw;
  float: right;
  text-align: center;
  color: white;
  position: relative;
  padding-top: 30px;
}

.article_wrap h1 {
  font-size: 30px;
  padding-bottom: 20px;
  margin-top: -20px;
}

.article_wrap article {
  display: block;
  margin: auto;
  position: absolute; 
  left: 0; right: 0;
  text-align: center;
  font-size: 22px;
  width: 80%;
}

article a {
  font-weight: bold; color: #de993e;
  text-decoration: none;
}